<div class="container">
  <h3 class="mt-md-5 text-center mt-3">TƯ VẤN SẢN PHẨM</h3>
  <app-carousel
    [items]="carouselItems"
    [visibleItems]="3">
  ></app-carousel>
  <h3 class="mt-md-5 text-center">SẢN PHẨM</h3>
  
  <div class="row">
  <app-carousel
    [items]="products"
    [visibleItems]="3">
  ></app-carousel>

  <div class="row mb-3 mb-md-0 mx-auto">
    <div class="col-12 col-md-6">
        <h3 class="mt-md-5 text-info">VỀ CHÚNG TÔI</h3>
        <p class="mt-md-4">Được thành lập và phát triển từ năm 1988, Công ty Hóa chất ABC được xem như một trong những người tiên phong trong lĩnh vực sản xuất và kinh doanh hóa chất tại Việt Nam. Với một nền móng vững chắc cùng bề dày lịch sử hoạt động, hiện nay chúng tôi trở thành một công ty có uy tín hàng đầu trong lĩnh vực Hóa chất tại Việt Nam.</p>
        <a href="hdchemicals/gioi-thieu" class="btn btn-outline-info ">Khám phá ngay <i class="fa fa-arrow-right ms-md-3"></i></a>
    </div>
    <div class="col-md-6 col-12 mt-md-5 about-us_img">
      <img src="assets/imgs/muc-in-vai.jpg" alt="No image" loading="lazy">
    </div>
  </div>
</div>