<div class="container">
    <h3 class="mt-md-5 text-info">TƯ VẤN SẢN PHẨM</h3>
    <section>
        <div id="cCarousel">
          <div class="arrow" id="prev"><i class="fa-solid fa-chevron-left"></i></div>
          <div class="arrow" id="next"><i class="fa-solid fa-chevron-right"></i></div>
      
          <div id="carousel-vp">
            <div id="cCarousel-inner">
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 1 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 2 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 3 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 4 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 5 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://images.unsplash.com/photo-1564292284209-60cce69f08ed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ0MTA1MTJ8&ixlib=rb-4.0.3&q=80&w=400" alt="Moon">
                <div class="infos">
                  <h3>Title 6 / 6</h3>
                  <button type="button">See</button>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <h3 class="mt-md-5 text-info">SẢN PHẨM</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <div class="p-2"><img src="./assets/images/products/tetrachloroerhylene_grade.png" class="card-img-top" alt="..."></div>
                <div class="card-body">
                  <p class="card-title text-center text-uppercase fs-5">tetrachloroerhylene grade</p>
                </div>
                <div class="card-footer text-center">
                    <a href="" class="text-decoration-none"><small class="text-body-secondary">Xem chi tiết >>></small></a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col">
            <h3 class="mt-md-5 text-info">VỀ CHÚNG TÔI</h3>
            <p class="mt-md-4">Được thành lập và phát triển từ năm 1988, Công ty Hóa chất T.T.K được xem như một trong những người tiên phong trong lĩnh vực sản xuất và kinh doanh hóa chất tại Việt Nam. Với một nền móng vững chắc cùng bề dày lịch sử hoạt động, hiện nay chúng tôi trở thành một công ty có uy tín hàng đầu trong lĩnh vực Hóa chất tại Việt Nam.</p>
            <button class="btn btn-outline-info">Khám phá ngay <i class="fa fa-arrow-right ms-md-3"></i></button>
        </div>
        <div class="col">

        </div>
      </div>
</div>