<section>
    <div id="cCarousel">
      <div class="arrow" id="prev" (click)="prev()">
        <i class="bi bi-arrow-left-circle"></i>
      </div>
      <div class="arrow" id="next" (click)="next()">
        <i class="bi bi-arrow-right-circle"></i>
      </div>
  
      <div id="carousel-vp" style="overflow: hidden;">
        <div id="cCarousel-inner" [style.left.px]="leftValue" style="display: flex; gap: 20px; position: relative; transition: left 0.3s;">
          @for (item of items; track $index) {
            <article class="cCarousel-item">
              <img [src]="item.img" alt="No image">
              <div class="infos text-center">
                <a [href]="'hdchemicals'+item.paths+item.id" class="text-uppercase text-decoration-none text-secondary">{{ item.name }}</a>
              </div>
            </article>
          }
        </div>
      </div>
    </div>
  </section>
  