<div class="footer mt-md-5">
    <div class="row mt-md-3">
        <div class="col">
            <a href="muc-in-an"><img src="assets/imgs/logo.png" alt="No logo"/></a>
        </div>
        <div class="col">
            <h4 class="mb-md-4">Danh mục</h4>
            <div class="d-flex flex-column gap-md-2">
                <span>Keo công nghiệp & phủ bóng</span>
                <span>Nguyên liệu sơn & xây dựng</span>
                <span>Hóa chất in</span>
                <span>Bột màu hữu cơ</span>
            </div>
        </div>
        <div class="col">
            <h4 class="mb-md-4">Tin tức</h4>
            <div class="d-flex flex-column gap-md-2">
                <span>Tất cả tin tức</span>
                <span>Tin tức an toàn, an ninh</span>
                <span>Xu hướng đổi trong ngành hóa chất mực in</span>
            </div>
        </div>
        <div class="col">
            <h4>Liên hệ</h4>
            <div class="mt-md-4 d-flex flex-column gap-md-2">
                <span class="d-flex gap-4">
                    <a><i class="fab fa-facebook-square fs-2 text-primary"></i></a>
                    <a><i class="fab fa-twitter-square fs-2 text-info"></i></a>
                    <a><i class="fas fa-phone-square fs-2 text-warning"></i></a>
                </span>
                <span>
                    CÔNG TY HÓA CHẤT
                </span>
                <span>
                    Địa chỉ: F2/30/5 liên ấp 2-6, ấp 6, xã vĩnh lộc A, Bình chánh, TP.HCM
                </span>
            </div>
        </div>
    </div>

</div>