.footer{
    border-top: 50px solid #06465B;
}
h5 a{
    color: #06465B;
}

@media screen and (max-width: 768px) { /* 768px thường được dùng làm ngưỡng cho điện thoại */    
    .access{
        display: none;
    }

    .contact-us{
        display: none;
    }
} 