<div class="footer mt-md-5">
    <div class="container pb-md-5 mb-3">
        <div class="row mt-md-5">
            <div class="col-md-3 col-12 mt-3 mt-md-0">
                <h5 class="mb-md-3"><a class="text-decoration-none" href="#">Trang chủ</a></h5>
                <h5 class="mb-md-3"><a class="text-decoration-none" href="hdchemicals/gioi-thieu">Giới thiệu</a>
                </h5>
                <h5 class="mb-md-3">
                    <a href="hdchemicals/tu-van-san-pham" class="text-decoration-none">Sản phẩm</a>
                </h5>
                <h5 class="mb-md-3">
                    <a href="hdchemicals/lien-he" class="text-decoration-none">Liên hệ</a>
                </h5>
            </div>
            <div class="col-md-6 col-12 ">
                <div class="mt-md-4 d-flex flex-column gap-md-2">
                    <span class="text-uppercase fw-bold">
                        Công ty tnhh thương mại - dịch vụ HD Chemical
                    </span>
                    <span>
                        Địa chỉ: 240/13/9/11 Nguyễn Văn Luông, Phường 11, Quận 6, Thành phố Hồ Chí Minh, Việt Nam
                    </span>
                    <span>
                        Điện thoại: 0931.985.359
                    </span>
                    <span>
                        Email: hdchemicals201120&#64;gmail.com
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <span class="d-flex flex-md-column ms-md-5 mt-2 mt-md-0 gap-4">
                    <a role="button" target="_blank" class="text-decoration-none text-dark">
                        <i class="bi bi-facebook fs-2 text-primary"></i>
                        <span class="access">Truy cập fanpage</span>
                    </a>
                    <a role="button" target="_blank" class="text-decoration-none text-dark">
                        <i class="bi bi-tiktok fs-2 text-dark"></i>
                        <span class="access">Theo dõi chúng tôi</span>
                    </a>
                    <a href="https://shopee.vn/phuoc0207" style="margin-top: 10px;"
                        target="_blank" class="text-decoration-none text-dark">
                        <img src="assets/icons/icon-shopee.png" loading="lazy" 
                            style="width: 40px; height: 40px; margin-top: -10px;" />
                        <span class="access">Cửa hàng chúng tôi</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>