<div class="container">
    <div class="logo">
        <a href="">
            <img src="assets/imgs/logo.png" alt="No logo">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg menu-item" style="gap: 18rem;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TRANG CHỦ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="muc-in-an/gioi-thieu">GIỚI THIỆU</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  SẢN PHẨM
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Keo công nghiệp & phủ bóng</a></li>
                  <li><a class="dropdown-item" href="#">Nguyên liệu sơn</a></li>
                  <li><a class="dropdown-item" href="#">Hóa chất mực in</a></li>
                  <li><a class="dropdown-item" href="#">Bột màu hữu cơ</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TIN TỨC & SỰ KIỆN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-info">VN</button>
          <button type="button" class="btn btn-outline-info">EN</button>
        </div>
    </nav>
</div>
<div class="banner">
    <img src="assets/imgs/banner.png" alt="No banner">
</div>
