
.upload-img{
    border: 1px solid grey;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}
.upload-img img{
    width: 148px;
    height: 148px;
    border-radius: 16px;
}
.product-search{
    height: 200px;
    overflow-y: scroll;
}