.produc-image div{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px !important;
}
.produc-image img{
    width: 198px;
    height: 198px;
    border-radius: 10px !important;
}
.action-product{
    margin-top: -40px;
}
.action-product button{
    margin: 0 20px 0 0;
}