<p class="fs-3 fw-bold text-uppercase p-md-3">keo công nghiệp & phủ bóng</p>
            <span class="ps-md-3">Khái niệm về sản phẩm</span>
            <div class="mt-md-3">
                <div class="row">
                    <div class="col-md-4 mb-md-5">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/imgs/products/keo-acrylic.jpg" class="card-img-top" alt="No image">
                            <div class="card-body text-center">
                              <span class="card-text"><a href="muc-in-an/san-pham/mat-hang-san-pham" class="text-decoration-none">Keo Acrylic</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-5">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/imgs/products/keo-vae.jpg" class="card-img-top" alt="No image">
                            <div class="card-body text-center">
                              <span class="card-text"><a href="muc-in-an/san-pham/mat-hang-san-pham" class="text-decoration-none">Keo VAE</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-5">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/imgs/products/keo-sua-pvac.jpg" class="card-img-top" alt="No image">
                            <div class="card-body text-center">
                              <span class="card-text"><a href="muc-in-an/san-pham/mat-hang-san-pham" class="text-decoration-none">Keo sữa PVAc</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-5">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/imgs/products/chat-phu-bong-he-uv.jpg" class="card-img-top" alt="No image">
                            <div class="card-body text-center">
                              <span class="card-text"><a href="muc-in-an/san-pham/mat-hang-san-pham" class="text-decoration-none">Chất phủ bóng hệ UV</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-5">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/imgs/products/chat-phu-bong-he-nuoc.jpg" class="card-img-top" alt="No image">
                            <div class="card-body text-center">
                              <span class="card-text"><a href="muc-in-an/san-pham/mat-hang-san-pham" class="text-decoration-none">Chất phủ bóng hệ nước</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>