<div class="container-fluid mt-4 mt-md-">
    <div class="row mt-md-4 mx-md-5 list-product">
        
        @for(i of products; track $index){
          <div class="col-6 col-md-3 mb-3">
            <div class="card">
              <div class="card-img">
                <img [src]="i.img?i.img:'assets/imgs/no-image.png'" alt="No image" loading="lazy">
              </div>
              <div class="card-info">
                <p class="text-title">{{i.name}} </p>
              </div>
              <div class="card-footer">
                <button (click)="viewProductDetail(i)">
                  Xem chi tiết
                </button>
              </div>
            </div>
        </div>
        }
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" (click)="prev()">
          <button>Previous</button>
        </li>
        <li class="page-item" (click)="next()">
          <button>Next</button>
        </li>
      </ul>
    </nav>
</div>