<div class="container mt-3 mt-md-5">
    <div class="row mx-auto">
        <div class="col-md-5 col-12 mt-md-4 chemistry-img">
            <img src="assets/imgs/chemistry.jpg" alt="No image"/>
        </div>
        <div class="col-md-7 col-12 mt-3 mt-md-0">
            <h2 class="text-uppercase">về chúng tôi</h2>
            <p class="mt-md-4 text-justify">
                Được thành lập và phát triển từ năm 2020, Công Ty TNHH Thương Mại - Dịch Vụ HD Chemical chúng tôi chuyên sản xuất và cung cấp mực in lụa chất lượng cao. Chúng tôi hiểu rằng chất lượng là yếu tố cốt lõi tạo nên sự khác biệt. Vì vậy, HD Chemical luôn chú trọng đầu tư vào công nghệ hiện đại và sử dụng nguồn nguyên liệu đạt chuẩn quốc tế để đảm bảo mỗi sản phẩm đều đáp ứng các tiêu chí nghiêm ngặt về kỹ thuật, thân thiện với môi trường và an toàn cho người sử dụng.
            </p>
            <p class="text-justify">
                Hơn cả một nhà cung cấp sản phẩm, chúng tôi là đối tác chiến lược, sẵn sàng hỗ trợ khách hàng vượt qua thách thức và vươn tới những thành công mới trong ngành in ấn.
            </p>
            <p class="text-justify">
                Hãy cùng HD Chemical tạo nên những sản phẩm ấn tượng và vững bước trên con đường phát triển bền vững.
            </p>
        </div>
    </div>
    <p class="text-uppercase fw-bold fs-4 mt-md-5 pt-md-5 text-center">
        lý do chọn sản phẩm của hd chemical
    </p>
    <div class="row mt-5">
        <div class="col-md-4 col-12 mt-md-0 mt-3 text-center build">
            <img src="/assets/icons/icon-demolition-plan.png" loading="lazy" alt="No Icon">
            <div class=" mt-3 px-md-5">
                <span class="fw-bold fs-5">Ưu Điểm Nổi Bật</span>
                <p>Tự hào là đơn vị chuyên cung cấp các sản phẩm chất lượng với 5 năm hoạt động.</p>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-md-0 mt-3 text-center checked">
            <img src="/assets/icons/icon-checked.png" loading="lazy" alt="No Icon">
            <div class=" mt-3 px-md-5">
                <span class="fw-bold fs-5">Sản phẩm chất lượng</span>
                <p>Sản phẩm được tạo nên từ nguyên liệu chọn lọc, quy trình sản xuất nghiêm ngặt và sự chú trọng đến từng chi tiết.</p>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-md-0 mt-3 text-center cooperate">
            <img src="/assets/icons/icon-cooperate.png" loading="lazy" alt="No Icon">
            <div class=" mt-3 px-md-5">
                <span class="fw-bold fs-5">Thân thiện môi trường</span>
                <p>Không chứa thành phần dung môi độc hại, thân thiện với môi trường, an toàn cho sức khỏe người dùng.</p>
            </div>
        </div>
    </div>
    <div class="row d-md-flex mt-md-5">
        <div class="col-md-6 vision"></div>
        <div class="col-md-6 mt-md-5 pt-md-4 ps-5 prize">
            <div class="mt-md-5">
                <h2 class="text-uppercase text-center">Tầm nhìn</h2>
                <p class="text-justify">
                    HD Chemical hướng tới trở thành doanh nghiệp hàng đầu trong lĩnh vực sản xuất và cung cấp mực in lụa chất lượng cao tại Việt Nam và vươn ra thị trường quốc tế. Chúng tôi phấn đấu xây dựng thương hiệu không chỉ dựa trên chất lượng sản phẩm vượt trội mà còn trên sự tin cậy và uy tín trong ngành in ấn.
                </p>
            </div>
            <div class="mt-md-5">
                <h2 class="text-uppercase text-center">Sứ mệnh</h2>
                <p class="text-justify">
                    Chúng tôi hiểu rằng chất lượng là yếu tố cốt lõi tạo nên sự khác biệt. Đó cũng là sứ mệnh chúng tôi hướng đến, mang lại những giải pháp in ấn tối ưu, không ngừng nỗ lực hoàn thiện từng sản phẩm, giúp khách hàng đạt được kết quả ấn tượng và bền vững.
                </p>
            </div>
        </div>
    </div>
    
    <!-- <div id="landmarkCarousel" class="carousel slide mt-5 mx-auto" data-bs-ride="carousel">
        <h2 class="text-uppercase mt-md-5 mb-md-5 text-center">các cột mốc</h2>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h5 class="card-title fs-4 text-center">2020</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                  vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                  và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h5 class="card-title fs-4 text-center">2020</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                  vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                  và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h5 class="card-title fs-4 text-center">2020</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                  vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                  và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#landmarkCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#landmarkCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
</div> -->