<div class="container mt-md-5">
    <div class="row">
        <div class="col-md-5 chemistry-img">
            <img src="assets/imgs/chemistry.png" alt="No image"/>
        </div>
        <div class="col-md-7">
            <h2 class="text-uppercase">về chúng tôi</h2>
            <p class="fs-5 mt-md-4">
                Được thành lập và phát triển từ năm xxxx, Công ty Hóa chất ABC được xem như một trong những người 
                tiên phong trong lĩnh vực sản xuất và kinh doanh hóa chất tại Việt Nam. Với một nền móng vững chắc 
                cùng bề dày lịch sử hoạt động, hiện nay chúng tôi trở thành một công ty có uy tín hàng đầu trong lĩnh vực 
                Hóa chất tại Việt Nam.
            </p>
            <div class="mt-md-5 w-75">
                <div class="row row-cols-2 statistical">
                    <div class="col border border-top-0 border-start-0 statistical-item">
                        <div class="d-flex flex-column text-center mb-md-3">
                            <span class="fs-1 fw-bold">20+</span>
                            <span class="fs-4">Năm thành lập</span>
                        </div>
                    </div>
                    <div class="col border border-top-0 border-end-0 statistical-item">
                        <div class="d-flex flex-column text-center">
                            <span class="fs-1 fw-bold">20+</span>
                            <span class="fs-4">Nhân viên</span>
                        </div>
                    </div>
                    <div class="col border border-bottom-0 border-start-0 statistical-item">
                        <div class="d-flex flex-column text-center">
                            <span class="fs-1 fw-bold">20+</span>
                            <span class="fs-4">Năm thành lập</span>
                        </div>
                    </div>
                    <div class="col border border-bottom-0 border-end-0 statistical-item">
                        <div class="d-flex flex-column text-center">
                            <span class="fs-1 fw-bold">20+</span>
                            <span class="fs-4">Năm thành lập</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-md-flex mt-md-5">
        <div class="col-md-7 vision">
            
        </div>
        <div class="col-md-5 mt-md-5 pt-md-4">
            <div class="mt-md-5">
                <h2 class="text-uppercase text-center">Tầm nhìn</h2>
                <span>
                    Với phương châm sáng tạo để phát triển, chúng tôi không ngừng đổi mới nhằm mang lại nguồn 
                    cung tốt nhất cho thị trường, vươn lên trở thành một công ty cung ứng Hóa chất hàng đầu tại Việt Nam. 
                    Hãy đến với ABC, chúng tôi luôn sẵn sàng hợp tác để cùng phát triển!
                </span>
            </div>
            <div class="mt-md-5">
                <h2 class="text-uppercase text-center">Sứ mệnh</h2>
                <span>
                    Bên cạnh đó, ABC tự hào là một tập thể hội tụ những con người nhiệt tình, năng động có kiến thức 
                    chuyên môn cao và dày dạn kinh nghiệm đem lại khả năng cung cấp linh hoạt, dịch vụ thuận lợi, nhanh 
                    chóng và sự chăm sóc khách hàng tối ưu. Do đó, chúng tôi ngày càng có những bước tiến mới và được sự 
                    tín nhiệm lâu dài của bạn hàng trong cả nước.
                </span>
            </div>
        </div>
    </div>
    
    <div class="row mt-md-5">
        <h2 class="text-uppercase mt-md-5 mb-md-5">các cột mốc</h2>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-4 text-center">2020</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                    vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                    và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                  </p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-4 text-center">2020</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                    vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                    và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                  </p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-4 text-center">2020</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                    vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                    và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                  </p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-4 text-center">2020</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Chúng tôi đưa Nhà máy sản xuất Nhũ tương PVAc tại Khu Công nghiệp Sóng Thần (Bình Dương) 
                    vào hoạt động, sản lượng cung cấp cho thị trường đạt 12,000 tấn/năm với chất lượng ổn định 
                    và có thể đáp ứng các yêu cầu kỹ thuật theo đề nghị của Khách hàng.
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>