.chemistry-img img{
    width:300px;
    height: 300px;
    margin-left: 3rem;
}
h2, p{
    color: #06465B;
}
.statistical-item span{
    color: #06465B;
}
.card-header{
    background-color: #06465B;
}
h5{
    color: #fff;
}
.vision{
    background-image: url('/assets/imgs/vision.jpg');
    height: 500px;
    margin-top: 70px !important;
    background-repeat: no-repeat;
}