<div id="layoutSidenav_content">
    <main>
        <div class="px-4">
            <h1 class="mt-4">Thông tin nhân viên</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card text-white mb-4">
                        <ul class="list-group">
                            <li class="list-group-item active fs-5 fw-bold text-uppercase text-center" aria-current="true">Danh sách nhân viên</li>
                            <li class="list-group-item">
                                <div>
                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                                      </form>
                                </div>
                            </li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                          </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header text-primary fs-4 text-uppercase fw-bold text-center">Thông tin cơ bản</div>
                        <div class="card-body">
                           <form action="" class="row g-3">
                                <div class="col-md-6 d-md-flex flex-column gap-md-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="full_name" class="form-label">Tên nhân viên</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="full_name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="staff_id" class="form-label">Tên nhân viên</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="staff_id">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="gender" class="form-label">Giới tínhtính</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="gender">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="tax_code" class="form-label">Mã số thuế</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tax_code">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="tax_code_date" class="form-label">Ngày cấp MST</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tax_code_date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </main>
</div>