<div class="container mt-3 mb-3 mt-md-5">
    <div class="row mt-md-3">
        <h3 class="text-uppercase text-info ">Chất liệu vải và cách lựa chọn mực in phù hợp</h3>
        <div class="content-detail">
            <p class="text-warning">Noi dung chi tiet</p>
        </div>
        <div>
            <p class="fw-bold">Tham khảo chi tiết sản phẩm và liên hệ hỗ trợ kỹ thuật tại:</p>
            <div class="d-md-flex flex-column gap-md-3">
                <span>Website: www.muc-in-an.com</span>
                <span class="text-uppercase fs-6"> công ty hóa chất ABC</span>
                <span>Địa chỉ: F2/30/5 Liên Ấp 2-6, Ấp 6, xã Vĩnh Lộc A, Bình Chánh, TP.HCM</span>
                <span>Điện thoại: 0912345678</span>
                <span>Email: ABCgmail.com</span>
            </div>
        </div>
    </div>
</div>