<div class="d-flex justify-content-center">
    <div class="form-container">
        <p class="title">Đổi mật khẩu</p>
        <form class="form" [formGroup]="form">
            <input type="text" class="input" placeholder="Tên đăng nhập" formControlName="username"/>
            @if(form.controls['username'].invalid 
                  && (form.controls['username'].touched || form.controls['username'].dirty)){
                @if(form.controls['username'].errors){
                  <span id="warning" class="form-text text-warning">Chưa có tên đăng nhập!</span>
                }
              }
            @if(!isVisible){
                <div id="confirm-code" class="text-center">
                    <div class="code">
                        <div>
                            <span>Mã xác nhận: </span>
                            <span class="text-danger fw-bold fs-4 ms-3">{{randomNumber}}</span>
                            <span class="ms-4">{{second}}s</span>
                        </div>
                    </div>
                    <input type="text" class="input mt-3" 
                        placeholder="Nhập mã xác nhận" formControlName="code"/>
                        @if(form.controls['code'].invalid 
                              && (form.controls['code'].touched || form.controls['code'].dirty)){
                            @if(form.controls['code'].errors){
                              <span id="warning" class="form-text text-warning">Chưa nhập mã xác nhận!</span>
                              <br/>
                            }
                        }
                    <button class="form-btn mt-3" type="button" (click)="confirmCode()">
                        Xác nhận
                    </button>
                </div>
            }
            @if(isVisible){
                <div id="change-pass" class="text-center">
                    <div class="position-relative">
                        <input type="password" class="input" id="password" 
                        placeholder="Mật khẩu mới" formControlName="pass"/>
                        @if(isShow){
                            <i class="bi bi-eye-slash-fill position-absolute"
                                role="button" (click)="showPassword()"></i>
                        }@else{
                            <i class="bi bi-eye-fill position-absolute" 
                                role="button" (click)="showPassword()"></i>
                        }
                    </div>
                    @if(form.controls['pass'].invalid 
                          && (form.controls['pass'].touched || form.controls['pass'].dirty)){
                        @if(form.controls['pass'].errors){
                          <span id="warning" class="form-text text-warning">Chưa có mật khẩu mới!</span>
                          <br/>
                        }
                      }
                    <button class="form-btn mt-3" type="button" 
                        [disabled]="form.invalid" (click)="updatePass()">
                        Cập nhật
                    </button>
                </div>
            }
        </form>
    </div>
</div>