<div class="d-flex justify-content-center">
    <!-- From Uiverse.io by akshat-patel28 -->
    <div class="form-container">
        <p class="title">HD Chemical xin chào</p>
        <form class="form" [formGroup]="loginForm">
            <input type="email" class="input" placeholder="Email" formControlName="username"/>
            <input type="password" class="input" placeholder="Mật khẩu" formControlName="password"/>
            <p class="page-link">
                <span class="page-link-label" (click)="forgotPass()">
                    Quên mật khẩu?
                </span>
            </p>
            <button class="form-btn" type="button" (click)="login($event)">Đăng nhập</button>
        </form>
    </div>
</div>