.list-group-item:hover {
    color: #06465B;
    text-decoration: underline;
    cursor: pointer;
}
.avatar{
    // display: inline;
    // width: auto;
    margin: 0 auto;
    max-width: 200px;
    max-height: 300px;
}
.avatar img{
    padding: 8px;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 50%;
}
.action_employee>.btn{
    width: 150px !important;
    padding-top: 10px;
}