<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4">
            <ul class="list-group">
                <li class="bg-primary fs-5 p-md-1 fw-bold text-uppercase text-center" aria-current="true">
                    Danh sách nhân viên</li>
                <li class="list-group-item">
                    <div>
                        <input class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search" (input)="searchUser($event)">
                        <form class="d-flex" role="search">
                            <!-- <button class="btn btn-outline-success" type="submit"><i
                                    class="fas fa-search"></i></button> -->
                        </form>
                    </div>
                </li>
                @for (a of listAccountFilter; track $index) {
                    @if(!a.is_del){
                        <li class="list-group-item" (click)="viewAccount(a)"> {{a.full_name}} </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-xl-9 col-md-6">
        <div class="card mb-2">
            <div class="card-header text-primary fs-5 text-uppercase fw-bold text-center">nhân viên</div>
            <div class="card-body">
                <form [formGroup]="formAccount" class="row g-3">
                    <div class="col-md-4 d-md-flex flex-column gap-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="full_name" class="form-label">Tên nhân viên</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" formControlName="full_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="staff_id" class="form-label">Mã nhân viên</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="staff_id" formControlName="emp_code">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Giới tính</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-label me-md-2">Nam</label>
                                <input type="radio" name="gender" class="me-md-5" formControlName="gender" value="nam">
                                <label class="form-label me-md-2">Nữ</label>
                                <input type="radio" name="gender" formControlName="gender" value="nu">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="birthday" class="form-label">Ngày sinh</label>
                            </div>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="birthday"
                                    placeholder="VD: 01/01/2000" formControlName="birthday"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="hometown" class="form-label">Quê quán</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="hometown" formControlName="hometown">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nationality" class="form-label">Quốc tịch</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="nationality" formControlName="nationality">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-md-flex flex-column gap-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="card_id" class="form-label">Số CCCD</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="card_id" formControlName="no_cart">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="card_date" class="form-label">Ngày cấp CCCD</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="card_date"
                                    placeholder="VD: 01/01/2000" formControlName="date_cart"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="card_where" class="form-label">Nơi cấp CCCD</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="card_where" formControlName="where_cart">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="tax_code" class="form-label">Mã số thuế</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="tax_code" formControlName="tax_code">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="tax_code_date" class="form-label">Ngày cấp MST</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="tax_code_date"
                                    placeholder="VD: 01/01/2000" formControlName="date_tax_code"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-md-flex flex-column gap-md-3">
                        <input type="file" #uploadAvatar [hidden]="true" (change)="chooseimage($event)">
                        <div class="avatar">
                            <img [src]="imgReview?imgReview:'assets/imgs/no-avatar.jpg'" alt="No avatar" />
                        </div>
                        <div class="action_avatar mx-auto d-flex gap-md-3">
                            <button type="button" class="btn btn-info" (click)="uploadAvatar.click()">Tải ảnh <i
                                    class="bi bi-upload ms-md-2"></i></button>
                            <button type="button" class="btn btn-warning" (click)="removeImage()">Xóa <i
                                    class="bi bi-trash ms-md-2"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-md-flex gap-md-4 action_employee">
            <button type="button" class="btn btn-success" (click)="update()">Cập nhật <i class="bi bi-pencil-square ms-md-2"></i></button>
            <button type="button" class="btn btn-danger" (click)="deleteUser()">Xóa <i class="bi bi-trash ms-md-2"></i></button>
        </div>
    </div>
</div>


            
