<div class="container">
    <div class="row mt-md-4">
        <div class="col-md-3">
            <ul class="list-product ">
                @for (i of listCategoryLV1s; track $index) {
                    <li class="text-uppercase fs-5 ">
                        <a class="fw-bold text-decoration-none" href="hd-chemical/danh-muc/{{i.id}}">{{i.name}}</a>
                        <ul>
                            @for (i of listCategoryLV2s; track $index) {
                                <li class="text-capitalize fs-6">
                                    <a class="text-decoration-none" href="hd-chemical/san-pham/{{i.id}}">
                                        {{i.name}}
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                <!-- @if(listProduct.length > 0) {
                } -->
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>