<div class="d-flex justify-content-center">
    <div class="form-container">
        <p class="title">Đổi mật khẩu</p>
        <form class="form" [formGroup]="formUpdate">
            <input type="text" class="input" placeholder="Mật khẩu cũ" formControlName="pass_old"/>
            @if(formUpdate.controls['pass_old'].invalid 
                  && (formUpdate.controls['pass_old'].touched || formUpdate.controls['pass_old'].dirty)){
                @if(formUpdate.controls['pass_old'].errors){
                  <span id="warning" class="form-text text-warning">Chưa có mật khẩu cũ!</span>
                }
              }
            <input type="text" class="input" placeholder="Mật khẩu mới" formControlName="pass_new"/>
            @if(formUpdate.controls['pass_new'].invalid 
                  && (formUpdate.controls['pass_new'].touched || formUpdate.controls['pass_new'].dirty)){
                @if(formUpdate.controls['pass_new'].errors){
                  <span id="warning" class="form-text text-warning">Chưa có mật khẩu mới!</span>
                }
              }
            <input type="text" class="input" placeholder="Xác nhận mật khẩu"
                formControlName="pass_confirm"/>
                @if(formUpdate.controls['pass_confirm'].invalid 
                      && (formUpdate.controls['pass_confirm'].touched || formUpdate.controls['pass_confirm'].dirty)){
                    @if(formUpdate.controls['pass_confirm'].errors){
                      <span id="warning" class="form-text text-warning">Chưa có mật khẩu mới!</span>
                    }
                }@else if(formUpdate.errors?.['mismatch']){
                    <span id="warning" class="form-text text-warning">
                        Mật khẩu mới không khớp!
                    </span>
                }
            <button class="form-btn" type="button" 
                [disabled]="formUpdate.invalid" (click)="updatePass()">
                Cập nhật
            </button>
        </form>
    </div>
</div>