<div class="container mt-md-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/imgs/advise/tim-hieu-ve-mau-pigment-1.jpg" class="card-img-top" alt="No image">
                <div class="card-footer">
                    <a href="muc-in-an/tu-van-san-pham/a" class="text-decoration-none">
                        <span class="text-body-secondary text-info text-center fs-4 fw-bold">
                            Tìm hiểu về màu Pigment: Giải pháp in vải hiện đại và hiệu quả
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imgs/advise/lua-chon-muc-in-2.jpg" class="card-img-top" alt="No image">
                <div class="card-footer">
                    <span class="text-body-secondary text-center fs-4 fw-bold">
                        Chất liệu vải và cách lựa chọn mực in phù hợp
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imgs/advise/detnhuomvainvai.jpg" class="card-img-top" alt="No image">
                <div class="card-footer">
                    <span class="text-body-secondary text-center fs-4 fw-bold">
                        Dệt nhuộm - In vải và những điều cần biết
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imgs/advise/502n.webp" class="card-img-top" alt="No image">
                <div class="card-footer">
                    <span class="text-body-secondary text-center fs-4 fw-bold">
                        Lựa chọn hóa chất in vải an toàn không gây hại cho sức khỏe
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imgs/advise/502m.webp" class="card-img-top" alt="No image">
                <div class="card-footer">
                    <span class="text-body-secondary text-center fs-4 fw-bold">
                        Tại sao hình in bị nứt sau khi sấy
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>