<div class="container mt-3 mb-3 mt-md-5 mb-md-0">
    <div class="concept">
        <h3 class="text-danger">1. Mực in lụa là gì?</h3>
        <img src="assets/imgs/banner/banner-advise-1.png" alt="No image" loading="lazy" />
        <p class="mt-2">
            Mực in lụa là loại mực được sử dụng trong kỹ thuật in lụa, một phương pháp in ấn phổ biến để tạo ra hình ảnh hoặc chữ trên nhiều loại vật liệu như vải, giấy, nhựa, kim loại, và gỗ. Mực in lụa thường có độ bám dính cao, khả năng chống nước và bền màu để đảm bảo hình ảnh in sắc nét và lâu phai.
        </p>
    </div>
    <div class="mt-3">
        <h3 class="text-danger">2. Phân loại</h3>
        <p>
            Có nhiều loại mực in lụa khác nhau, bao gồm:
        </p>
        <ul>
            <li class="mt-3"><b>Mực gốc dầu:</b> Bám dính tốt trên nhiều bề mặt và có khả năng chống nước.</li>
            <li class="mt-3"><b>Mực gốc nước:</b> Ít độc hại hơn, thân thiện với môi trường nhưng có thể kém bền hơn so với mực gốc dầu.</li>
            <li class="mt-3"><b>Mực UV:</b> Khô nhanh khi tiếp xúc với tia UV, giúp in sắc nét và có độ bền cao.</li>
            <li class="mt-3"><b>Mực Plastisol:</b> Được sử dụng phổ biến trong in vải, đặc biệt là in áo thun, có độ bám dính tốt và màu sắc nổi bật.</li>
        </ul>
    </div>
    <div class="mt-3">
        <h3 class="text-danger">3. Ứng dụng</h3>
        <p>
            Mực in lụa cũng có rất nhiều ứng dụng thú vị trong thực tế:
        </p>
        <ul>
            <li class="mt-3"><b>Ngành may mặc:</b> In lụa phổ biến trong sản xuất áo thun, áo khoác, túi vải, giúp tạo ra các thiết kế bắt mắt và độc đáo.</li>
            <li class="mt-3"><b>Quảng cáo: </b>Dùng để in logo, hình ảnh trên các vật liệu như băng rôn, biểu ngữ, túi đựng sản phẩm, giúp thương hiệu nổi bật hơn.</li>
            <li class="mt-3"><b>Nghệ thuật và trang trí:</b> Ứng dụng trong việc in tranh nghệ thuật, vải trang trí như rèm cửa, khăn trải bàn, vỏ gối.</li>
            <li class="mt-3"><b>Sản phẩm thủ công:</b> Các xưởng thủ công thường sử dụng in lụa để tạo ra sản phẩm mang tính cá nhân hóa, từ quà lưu niệm đến đồ trang trí.</li>
            <li class="mt-3"><b>Ngành công nghiệp:</b> In lụa được sử dụng để in lên bao bì, nhãn mác sản phẩm, giúp tăng tính chuyên nghiệp và độ nhận diện thương hiệu.</li>
        </ul>
    </div>
</div>