.label-card{
    color: #06465B;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 3rem;
    background-color: #fff;
    padding: 0 10px;
}
.view-banner img{
    width: 610px;
    height: 200px;
    margin: 0 auto;
}
.btn-action{
    position: absolute;
    top: -4rem;
}
.btn-action button{
    margin-left: 1rem !important;
}