<div class="layout">
    @if(
        path() == 'admin'
        || path() == 'quan-ly-nhan-vien'
        || path() == 'cap-nhat-gioi-thieu'
        || path() == 'quan-ly-san-pham'
        || path() == 'quan-ly-danh-muc'
        || path() == 'quan-ly-banner'
        || path() == 'quan-ly-thong-tin-tu-van'
        || path() == 'quan-ly-thong-tin-khach-hang'
        || path() == 'quan-ly-phan-quyen-nhan-su'
        || path() == 'doi-mat-khau'
        || path() == 'chi-tiet'
        || path() == 'tao-tai-khoan'
    ){
        <app-admin></app-admin>
    }
    @else if (path() == 'login') {
        <app-login></app-login>
    }
    @else if (path() == 'callback') {
        <app-auth-callback></app-auth-callback>
    }
    @else if (path() == 'quen-mat-khau') {
        <app-forgot-password></app-forgot-password>
    }
    @else{
        <app-header></app-header>
        <app-body></app-body>
        <app-footer></app-footer>
    }
</div>