
  <!-- Ẩn danh mục trong modal và hilight cate khi nhấn chọn -->
<div class="mx-md-4">
    <div class="card">
        <div class="position-relative">
            <span class="lable">Lọc & Xử lý dữ liệu</span>
        </div>
        <div class="card-body">
            <div class="p-md-2">
                <form class="row">
                    <!-- <div class="col-md-4">
                        <div class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <div class="d-flex">
                            <label class="form-label me-md-4">Tên</label>
                            <input class="form-control" type="text" id="cate_name" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <label class="form-label me-md-4" >Loại</label>
                            <input class="form-control" id="cate_level" disabled/>
                        </div>
                    </div>
                </form>
                <div class="mt-md-3">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCategory">Thêm <i class="bi bi-plus-circle"></i></button>
                    <button type="button" class="btn btn-warning ms-md-3" (click)="update()">Cập nhật <i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-danger ms-md-3" (click)="delete()">Xóa <i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-secondary ms-md-3" (click)="reset()">Làm mới <i class="bi bi-arrow-clockwise"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-md-5">
                <div class="position-relative">
                    <span class="lable">Danh sách danh mục cấp 1</span>
                </div>
                <div class="card-body">
                    <table class="table table-striped mt-md-3">
                        <thead class="table-dark text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col">Ngày tạo</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (cateLV1 of listCatelogLV1Filter; track $index) {
                            @if(!cateLV1.is_del){
                              <tr role="button" (click)="findCatelogLV2(cateLV1)">
                                <th scope="row">{{$index + 1}}</th>
                                <td id="name_cateLV1{{cateLV1.create_date}}">{{cateLV1.name}}</td>
                                <td>{{formatDate(cateLV1.create_date)}}</td>
                              </tr>
                            }
                          }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-md-5">
                <div class="position-relative">
                    <span class="lable">Danh sách danh mục cấp 2</span>
                </div>
                <div class="card-body">
                    <table class="table table-striped mt-md-3">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col">Ngày tạo</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (i of listCatelogLV2; track $index) {
                            @if(!i.is_del){
                              <tr role="button" (click)="viewCategory(i)">
                                <th scope="row">{{$index + 1}}</th>
                                <td>{{i.name}}</td>
                                <td>{{formatDate(i.create_date)}}</td>
                              </tr>
                            }
                          } @empty {
                            <tr>
                              <td colspan="3" class="text-warning fst-italic text-center">Không có dữ liệu</td>
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="createCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createCategoryLabel">Thêm danh mục</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formAddCatelog">
                <div class="mb-md-3">
                    <label for="name" class="form-label">Tên danh mục</label>
                    <input type="text" class="form-control" id="name_cate_lv1" autocomplete="off" formControlName="name"/>
                </div>
                <div class="row mb-md-3">
                    <div class="col">
                        <select class="form-select" formControlName="level" (change)="selectCateLV()">
                            <option value="1">Danh mục cấp 1</option>
                            <option value="2">Danh mục cấp 2</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" formControlName="type" id="typeCatelog">
                            <option value="NO">-- Thuộc danh mục --</option>
                            @for (i of listCatelogLV1Filter; track $index) {
                              @if(!i._is_del){
                                <option value="{{i.id}}">{{i.name}}</option>
                              }
                            }
                          </select>
                    </div>
                </div>
                <div class="row mb-md-3">
                  <angular-editor [config]="editorConfig"></angular-editor>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="createCatelog()">Thêm</button>
        </div>
      </div>
    </div>
  </div>