.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: #06465B !important;
    padding: 5px;
    border-radius: 5px !important;
}
.back-to-top:hover{
    cursor: pointer;
}
.back-to-top i{
    color: #fff !important;
}