.list-group-item{
    border: 1px solid #06465B;
    color: #06465B;
}
.product_same_type a{
    color: #06465B;
}
.product_same_type:hover{
    background-color: #06465B;
}
.product_same_type:hover a{
    color: #fff;
}
.label{
    background-color: #06465B;
    color: #fff;
}
