<div class="container mt-3 mt-md-4">
    <div class="row product">
        <div class="col-md-3 ">
            <div class="text-center product-img">
              <img [src]="product.img?product.img : 'assets/imgs/no-image.png'"
                class="rounded" alt="No image">
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <div class="info_product ps-md-3">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                          <span class="fw-bold">{{product.name}}</span>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <span>Mã hàng: R81</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <span>Giá: </span>
                          <span class="fs-5 text-danger fst-italic fw-bold">Liên hệ</span>
                      </td>
                    </tr>
                    <!-- <tr>
                        <td>
                        Được sử dụng trong sản xuất sơn nước cao cấp trang trí nội ngoại thất độ bóng cao, kháng phồng rộp; Sơn trên các bề mặt đòi hỏi độ bám dính cao.
                      </td>
                    </tr> -->
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-for-us text-center mb-4 mb-md-0">
                <p class="text-secondary text-uppercase fs-5 pt-3">Yêu Cầu Gọi Lại</p>
                <div class="br"></div>
                <div class="d-flex flex-column p-3">
                    <input placeholder="Tên bạn là" 
                        type="text" id="name" name="text" class="input">
                    <input placeholder="Số điện thoại" 
                        type="text" id="phone" name="text" class="input mt-3">
                    <button class="mt-3 btn btn-success" (click)="send()">Gửi Yêu Cầu</button>
                </div>
            </div>
        </div>
    </div>
</div>
