<p class="fs-4 fw-bold p-md-3">PLEXTOL R 4111</p>
<div class="row">
    <div class="col-md-8">
        <div class="info_product ps-md-3">
            <p class="text-uppercase text-info fs-6 fw-bold">Thông tin sản phẩm</p>
            <div class="description d-md-flex flex-column">
                <span class="mt-md-2">Ngoại quan: Nhũ tương màu trắng sữa</span>
                <span class="mt-md-2">Thành phần chính: Pure Acrylic Polymer</span>
                <span class="mt-md-2">Hàm lượng rắn: 48.0 ~ 50.0%</span>
                <span class="mt-md-2">Độ nhớt: 500 ~ 2000 cps. (25°C, Brookfield #3/30rpm)</span>
                <span class="mt-md-2">Độ pH: 7.0 ~ 8.0</span>
                <span class="mt-md-2">MFFT: 33°C</span>
                <span class="mt-md-2">Tg: 35°C</span>
                <span class="mt-md-2">Kích cỡ hạt: 0.10 μm</span>
                <span class="mt-md-2">Tỷ trọng nhũ tương: 1.05</span>
                <span class="mt-md-4"><b>Quy cách:</b> Thùng nhựa 200Kgs; IBC 1000Kgs
                    Xuất xứ: Malaysia</span>
                </div>
                <p class="text-uppercase text-info fs-6 fw-bold mt-md-5">Ứng dụng</p>
                <div class="application">
                    <span>Được sử dụng trong sản xuất sơn nước cao cấp trang trí nội ngoại thất độ bóng cao, kháng phồng rộp; Sơn trên các bề mặt đòi hỏi độ bám dính cao.</span>
                </div>
        </div>
    </div>
    <div class="col-md-4">
        
        <div>
            <ul class="list-group">
                <li class="list-group-item label"><span class="text-uppercase fs-4 fw-bold">sản phẩm cùng loại</span></li>
                <li class="list-group-item product_same_type"><a href="">PLEXTOL D 858</a></li>
                <li class="list-group-item product_same_type"><a href="">PLEXTOL R 4126G</a></li>
                <li class="list-group-item product_same_type"><a href="">PLEXTOL R 4138</a></li>
                <li class="list-group-item product_same_type"><a href="">PLEXTOL R 4152</a></li>
                <li class="list-group-item product_same_type"><a href="">PLEXTOL R 4152</a></li>
              </ul>
        </div>
    </div>
</div>
