.produc-image div{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px !important;
}
.product-image img{
    width: 198px;
    height: 235px;
    border: 0;
}
.action-product{
    // position: absolute;
    // position: absolute;
    // top: -11rem;
    display: flex;
    gap: 1rem;
}