<form [formGroup]="formProduct">
    <div class="row mx-md-4">
        <div class="col-md-4">
            <div class="mb-md-3">
                <div class="product-image">
                    <div class="text-center">
                        <img [src]="(imgReview)?imgReview:'assets/imgs/no-image.png'" alt="No image" />
                        <input type="file" id="product_image" [hidden]="true" #uploadProductImage (change)="chooseImgUpdateProduct($event)"/>
                    </div>
                </div>
            </div>
            <div class="d-md-flex justify-content-center gap-md-3 mb-md-3">
                <button type="button" class="btn btn-primary" 
                    (click)="uploadProductImage.click()">Tải ảnh</button>
                <button type="button" class="btn btn-secondary" (click)="removeImage()">Xóa</button>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="row mb-md-3">
                <label for="product_name" class="col-md-4 form-label fw-bold">Tên sản phẩm</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="product_name" formControlName="name"/>
                    
                </div>
            </div>
            <div class="row mb-md-3">
                <label for="lot_number" class="col-md-4 form-label fw-bold">Số LOT</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="lot_number" formControlName="lot_number">
                </div>
            </div>
            <div class="row mb-md-3">
                <label class="col-md-4 form-label fw-bold">Ngày sản xuất</label>
                <div class="col-md-8">
                    <input type="datetime" class="form-control" formControlName="production_date">
                </div>
            </div>
            <div class="row mb-md-3">
                <label for="chemicals" class="col-md-4 form-label fw-bold">Trọng lượng</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="chemicals" formControlName="weights">
                </div>
            </div>
            <div class="row mb-md-3">
                <label class="col-md-4 form-label fw-bold">Số lượng</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" autocomplete="off" formControlName="quantity"/>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label fw-bold">Mô tả</label>
                <textarea name="" 
                formControlName="description" rows="3" class="form-control" ></textarea>
            </div>
            <div class="position-relative mt-md-3">
                <div class="action-product">
                    <button type="button" class="btn btn-success" (click)="update()">Cập nhật <i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
