
<h4 class="mt-md-4">{{title}}</h4>
<div class="div">
  <div class="row my-md-4">
    @for (i of listProductByCateID; track $index) {
      <div class="col-md-4 mb-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/imgs/products/violet-jf-v.webp" class="card-img-top" alt="No image"/>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a [href]="'hdchemicals/san-pham-chi-tiet/'+i.id" class="">{{i.name}}</a>
            </h4>
          </div>
        </div>
      </div>
    }
  </div>
    <!-- <table class="table table-hover table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hóa chất</th>
            <th scope="col">Giới thiệu và mô tả</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <th class="text-center" scope="row">
              <a href="hdchemicals/san-pham-chi-tiet/3">PLEXTOL R 4111</a>
            </th>
            <td class="text-center">Mark</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table> -->
</div>